.cards {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin: 5px 0;
  background-color: #0c162a;
  border-radius: 10px;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.cards .poster {
  position: relative;
  overflow: hidden;

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr;
    height: 220px;
  }
}
.cards .poster::before {
  content: '';
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #1064a6 30%, transparent);
  transition: 0.5s;
  z-index: 1;
}
.cards:hover .poster::before {
  bottom: 0px;
}
.cards .poster img {
  width: 100%;
  transition: 0.5s;
}
.cards:hover .poster img {
  transform: translateY(-50px);
  filter: blur(10px);
}
.details {
  text-align: center;
  margin-top: 10px;
}
.cards .details {
  position: absolute;
  bottom: -175px;
  left: 0;
  padding: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.8s;
  display: none;
}
.cards .details h2 {
  font-size: 1rem;
  color: $color-2;
  font-weight: 800;
  text-transform: uppercase;
}
.cards .details h5 {
  font-size: 0.7rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
.cards:hover .details {
  display: block;
  bottom: 0px;
}

.cards .details .info {
  color: #fff;
  margin-top: 20px;
  font-size: 1rem;

  @media (max-width: 1100px) {
    margin-top: 12px;
    width: 80%;
  }
  @media (max-width: 600px) {
    font-size: 0.5rem;
    width: 100%;
  }
}
.cards .details .info .synopsis {
  font-size: 0.7rem;
  width: 100%;
  display: flex;

  @media (max-width: 1100px) {
    display: flex;
    font-size: 0.7rem;
    margin-left: -26px;
    margin-top: 15px;
    width: 80%;
  }
  @media (max-width: 600px) {
    display: flex;
    margin-left: -40px;
    margin-top: -12px;
    font-size: 0.7rem;
    width: 120%;
    display: none;
  }
}
.cards .details .info h5 {
  color: #f7f406;
}
.cards .details .cast {
  position: relative;
}
.cards .details .cast h4 {
  color: #fff;
  margin-top: 10px;
}
.cards .details .cast ul {
  position: relative;
  gap: 10px;
  display: flex;
}
.cards .details .cast ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}
.cards .details .cast ul li img {
  max-width: 100%;
}
.btn {
  background: #546fe4;
  position: absolute;
  bottom: 20px;
  font-size: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 50;
  user-select: none;

  @media (max-width: 600px) {
    width: 100px;
  }

  &:hover {
    // background: #212040;
    box-shadow: 0 0 10px #546ee4d2;
    font-size: 0.6rem;
    color: $white;
  }
  &:active {
    transform: scale(1.05) translate(-50%);
    color: $black;
  }
}
.poster_modal {
  display: flex;
  align-items: flex-start;
  height: 730px;
  background-color: $color-1;
}
.poster_modal img {
  width: 53%;
}
.content_textmodal h2 {
  position: absolute;
  left: 55%;
  top: 10%;
  text-transform: uppercase;
}
.content_textmodal p {
  position: absolute;
  left: 55%;
  top: 15%;
  font-size: 1.1rem;
}
.carteAffichage {
  position: absolute;
  right: 80px;
  bottom: 40px;
  width: 500px;
  height: 500px;
}
