.navigation {
  display: flex;
  justify-content: center;
  background: url(../../pages/images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin: 20px;
}

.navigation li {
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  background: #000;
  padding: 10px;
}

.navigation li:hover {
  color: $color-2; /* Remplacer par la valeur appropriée */
  transform: scale(1.2);
  font-weight: 800;
}

.navigation li.nav-active {
  color: red;
  /* styles pour les liens actifs */
}

.navigation li.nav-active::after {
  content: '';
  height: 4px;
  width: 0;
  background: $color-1; /* Remplacer par la valeur appropriée */
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}

@keyframes anim {
  to {
    width: 100%;
  }
}
